<div class="row">
    <div class="col text-center align-items monster-info">
        {{ monster.location }}
    </div>
    <div class="col text-center align-items monster-info">
        {{ monster.name }}
    </div>
    <div class="col text-center align-items monster-info">
        {{ monster.timeReported }}
    </div>
    <div class="col text-center align-items monster-info">
        {{ monster.status }}
    </div>
    <div class="col text-center align-items monster-info">
        <button mat-button class="btn btn-primary" (click)="onInfo(monster.id)">More Info</button>
    </div>
    <div class="col text-center align-items monster-info">
        <button class="btn btn-danger" (click)="onDeleted(monster.id)">
            <span>&times;</span>
        </button>
    </div>
</div>
